:root {
    --background-color: rgba(3, 50, 151, 0.25);
}
* {
    color: white;
    background-color: var(--background-color)
}
header {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    font-size: 45px;
    margin: 25px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    position: relative;
    top: 20px;
}
header nav ul li {
    margin: 10px 20px 10px 20px;
    font-size: 25px;
}
header a {
    text-decoration: none;
}
.hero {
    background-image: url(../assets/hero-background.png);
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content:right;
    flex-wrap:wrap;
}
.hero h3 {
    font-size: 25px;
    margin: 200px 20px 20px 0;
}
.section-title {
    font-size: 55px;
    text-align: center;
    padding: 10px;
}
.flex-aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-aboutMe img {
    width: 30%;
    margin: 3vw;
}
.flex-aboutMe p {
    flex-grow: 2;
}
.flex-myProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-box-one {
    display: block;
    height: 30vw;
    margin: 2vw;
    color: black;
    font-size: 55px;
    text-decoration: none;
    padding: 1vw;
    border: 3px solid black;
    background-image: url(../assets/run-buddy-hero-bg.jpg);
    background-size: cover;
    background-position: center;
}
.project-box {
    color: black;
    height: 20vw;
    width: 40vw;
    border: 3px solid black;
    margin: 2vw;
    background-image: url(../assets/placeholder-1-e1533569576673-960x960.png);
    background-size: cover;
    background-position: center;
}