:root {
    --background-color: rgba(3, 50, 151, 0.25);
}
* {
    color: white;
    background-color: var(--background-color)
}
header {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    font-size: 60px;
    margin: 35px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    position: relative;
    top: 20px;
}
header nav ul li {
    margin: 10px 20px 10px 20px;
    font-size: 25px;
}
header a {
    text-decoration: none;
}
.hero {
    background-image: url(../assets/images/hero-background.png);
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content:right;
    flex-wrap:wrap;
}
.hero h3 {
    font-size: 25px;
    margin: 200px 20px 20px 0;
}
.section-title {
    font-size: 55px;
    text-align: center;
    padding: 10px;
}
.flex-aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-aboutMe img {
    width: 30%;
    margin: 3vw;
}
.flex-aboutMe p {
    font-size: 20px;
}
.flex-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-box-one {
    display: block;
    height: 30vw;
    margin: 4vw;
    color:#024e76;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 1vw;
    border: 3px solid #fce138;
    background-image: url(../assets/images/run-buddy-hero-bg.jpg);
    background-size: cover;
    background-position: center;
}
.project-box {
    color: black;
    height: 20vw;
    width: 40vw;
    border: 3px solid black;
    margin: 2vw;
    background-image: url(../assets/images/placeholder-1-e1533569576673-960x960.png);
    background-size: cover;
    background-position: center;
}
.contactMeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 35px;
}
.contactMeInfo span {
    font-weight: bold;
    text-decoration-line: underline;
}
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
    }
    header h1 {
        margin: 20px;
        text-align: center;
    }
    header nav {
        text-align: center;
    }
    header nav ul {
        padding: 0;
        margin: 0;
        top:0;
    }
}
@media screen and (max-width: 760px) {
    .contactMeInfo {
        font-size: 18px;
    }
    .flex-projects {
        display: block;
    }
    .project-box {
        display: block;
        width:auto;
        height: 30vw;
        margin: 4vw;
        color:black;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 1vw;
        border: 3px solid black;
        /* background-image:;
        background-size: cover;
        background-position: center; */
    }
}
@media screen and (max-width: 550px) {
    header nav ul {
        flex-direction: column;
    }
}